.catalog_container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog_products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.catalog_product-container {
    width: 170px;
    height: 310px;
    position: relative;
    border: 2px solid black;
    margin-bottom: 20px;
}

.catalog_delete-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.productList_image_container {
  width: 170px;
  height: 160px;
  background-color: white;
}
.productList_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productList_name_product {
  font-family: var(--font);
  font-style: normal;
  font-weight: var(--l-fw);
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  color: #000000;
  margin-bottom: 10px;
}
.productList_price_product {
  font-family: var(--font);
  font-style: normal;
  font-weight: var(--l-fw);
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}

.catalog_addNewProduct-container {
  width: 170px;
  height: 310px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editProduct_btn{
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  width: 120px;
  height: 25px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
}
.editProduct_btn-container{
  display: flex;
  justify-content: center;
}
.catalog_addNewProduct-p {
    font-size: 80px;
    line-height: 100%;
}
