.catalogAddForm_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.778);
  z-index: 100;
}
.catalogAddForm_container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.catalogAddForm_backBtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
}

.catalogAddForm_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogAddForm_label {
  color: white;
  margin-bottom: 15px;
  font-size: 18px;
  margin-bottom: 5px;
}
.catalogAddForm_input {
  display: block;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 220px;
  height: 25px;
  border-radius: 4px;
}
.catalogAddFrom_descriptionTitle{
  margin-bottom: 105px;
}
.catalogAddForm_textarea {
  display: block;
  background-color: transparent;
  border: 1px solid white;
  width: 100%;
  color: white;
  resize: none;
  width: 220px;
  height: 100px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.catalogAddForm_textarea::placeholder {
    color: white;
}
.catalogAddForm_addField-button{
  background-color: rgb(0, 81, 0);
  border: 1px solid white;
  color: white;
  width: 170px;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.catalogAddForm_delField-button{
  background-color: rgb(78, 0, 4);
  border: 1px solid white;
  color: white;
  width: 170px;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.catalogAddForm_addNewProduct-button{
  background-color: #FB6702;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 50px;
  border: none;
  font-family: var(--b-orange);

}
.catalogAddForm_button:not(:last-child){
  margin-bottom: 15px;
}
.catalogAddForm_containerr{
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalogAddForm_up-btn{
  width: 200px;
  background-color: #FB6702;
  border: none;
}
.catalogAddForm_down-btn{
  width: 200px;
  background-color: #FB6702;
  border: none;
  background-color: #FB6702;
  margin-bottom: 30px;
}
.catalogAddForm_product-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.catalogAddForm_addedInData-btn{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalogAddForm_file-input{
  margin-bottom: 10px;
}
.file-upload-button{
  color: red;
}
input[type=file]{
  display: none;
}
.catalogAddForm_label-fieInput{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
} 
